.battle {
  display: grid;
  justify-items: stretch;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 0.5em;
  column-gap: 0.5em;
  grid-row-gap: 0.5em;
  row-gap: 0.5em;
  margin: 0.5em auto;
  width: 80%;
  align-items: center;
}

.battle p {
  font-size: 25px;
  font-weight: bold;
}

.battleParticipant {
  background-color:#88b588;
  border-radius: 5px;
  grid-area: auto;
  padding: 0.5em 0;
  padding-bottom: 0.5em;
  margin: 0.3em;
  cursor: pointer;
  transition: 0.3s;
}

.battleParticipant:hover {
  background-color: #77aa77;
}
