.battle {
  display: grid;
  justify-items: stretch;
  grid-template-columns: repeat(3, calc(33% - (1.25em / 3)));
  grid-template-rows: auto;
  grid-column-gap: 0.5em;
  grid-column-gap: 0.5em;
  column-gap: 0.5em;
  grid-row-gap: 0.5em;
  grid-row-gap: 0.5em;
  row-gap: 0.5em;
  margin: 0.5em 0;
  width: 80%;
}

.battleParticipant {
  background-color: rgb(127, 188, 182);
  border-radius: 5px;
  grid-area: auto;
  padding: 0.5em 0;
  padding-bottom: 0.5em;
  margin: 0.3em;
  cursor: pointer;
  transition: 0.3s;
}

.battleParticipant:hover {
  background-color: rgb(147, 194, 194);
}
