.border {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
  padding: 10px;
  height: 800px;
}

.container {
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}
