.gallery {
  display: grid;
  justify-items: stretch;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 0.5em;
  column-gap: 0.5em;
  grid-row-gap: 0.5em;
  row-gap: 0.5em;
  margin: 0.5em auto;
  width: 80%;
}

.galleryItem {
  background-color:#88b588;
  border-radius: 5px;
  grid-area: auto;
  padding: 0.5em 0;
  padding-bottom: 0.5em;
  margin: 0.3em;
  cursor: pointer;
  transition: 0.3s;
}

.galleryItem:hover {
  background-color: #77aa77;
}


.galleryItem button {
  border-radius: 5px;
  background-color: #689968;
  color: #3B4E49;
  font-size: 16px;
  cursor: pointer;
}

.galleryItem button:hover {
  background-color: #5d8c5d;
}

.darkBackground {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
